* {
  font-family: Inter;
  transition-delay: 100ms;
}

body {
  margin: 0;
  padding: 0;
  border: unset;
  background-color: #f6f7f8;
  font-size: 20px;
  font-weight: 400;
}

button {
  border-style: unset;
}

.text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-center-relative {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-flex-row-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-100vh {
  height: 100vh;
}

.mg-t-80px {
  margin-top: 80px;
}

.mg-t-200px {
  margin-top: 200px;
}

.mg-t-140px {
  margin-top: 140px;
}
