* {
  font-family: Inter;
}

body {
  margin: 0;
  padding: 0;
  border: unset;
  background-color: #f6f7f8;
  font-size: 20px;
  font-weight: 400;
}

button {
  border-style: unset;
}

button:disabled {
  background-color: gray;
}

button:disabled:hover {
  background-color: gray;
  box-shadow: none;
  cursor: default;
}

input {
  border: none;
  outline: none;
}

textarea {
  border: none;
  outline: none;
}

.text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-center-relative {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-flex-row-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex-column-c-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.d-flex-column-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.d-flex-c-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.d-flex-sb {
  display: flex;
  justify-content: space-between;
}

.d-flex-row-end-sb {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.d-flex-row-c-fe {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex-c-se {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.d-flex-align-item-c {
  display: flex;
  align-items: center;
}

.h-100vh {
  height: 100vh;
}

.mg-t-48px {
  margin-top: 48px;
}

.mg-t-80px {
  margin-top: 80px;
}

.mg-t-110px {
  margin-top: 110px;
}

.mg-t-200px {
  margin-top: 200px;
}

.mg-t-140px {
  margin-top: 140px;
}

.mg-l-8px {
  margin-left: 8px;
}

.mg-b-16px {
  margin-bottom: 16px;
}

.mg-b-40px {
  margin-bottom: 40px;
}

.font-sz-47px {
  font-size: 47px;
}

.text-area {
  width: 1016px;
  gap: 35px;
}

.text-paragraph {
  width: 1016px;
  gap: 10px;
}

.text {
  white-space: break-spaces;
  text-align: justify;
}

.font-Inter-400-12px {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0;
}

.font-Inter-400-13px {
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  line-height: 120%;
  letter-spacing: 0;
}

.font-Inter-400-16px {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0;
}

.font-Inter-400-20px {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
}

.font-Inter-400-27px {
  font-family: Inter;
  font-weight: 400;
  font-size: 27px;
  line-height: 120%;
  letter-spacing: 0;
}

.font-Inter-500-47px {
  font-family: Inter;
  font-weight: 500;
  font-size: 47px;
  line-height: 120%;
  letter-spacing: 0;
}

.font-Inter-600-61px {
  font-family: Inter;
  font-weight: 600;
  font-size: 61px;
  line-height: 120%;
  letter-spacing: 0;
}

.font-Inter-600-64px {
  font-family: Inter;
  font-weight: 600;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: 0;
}

.font-Inter-700-16px {
  font-family: Inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0;
}

.font-Inter-700-21px {
  font-family: Inter;
  font-weight: 700;
  font-size: 21px;
  line-height: 120%;
  letter-spacing: 0;
}

.font-Inter-700-61px {
  font-family: Inter;
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
  letter-spacing: 0;
}

.font-OpenSans-400-16px {
  font-family: OpenSans;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0;
}

.padding-t64-r400 {
  padding-top: 64px;
  padding-right: 400px;
}

.pd-t-110px {
  padding-top: 110px;
}

.pd-lr-96px {
  padding-left: 96px;
  padding-right: 96px;
}

.pd-b-64px {
  padding-bottom: 64px;
}

.gap-8px {
  gap: 8px;
}

.gap-16px {
  gap: 16px;
}

.gap-32px {
  gap: 32px;
}

.gap-48px {
  gap: 48px;
}
