* {
  font-family: Inter;
}

body {
  margin: 0;
  padding: 0;
  border: unset;
  background-color: #f6f7f8;
  font-size: 20px;
  font-weight: 400;
}

button {
  border-style: unset;
}

button:disabled {
  background-color: gray;
}

button:disabled:hover {
  background-color: gray;
  box-shadow: none;
  cursor: default;
}

.text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-center-relative {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-flex-row-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-column-c-c{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.d-flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.h-100vh {
  height: 100vh;
}

.mg-t-80px {
  margin-top: 80px;
}

.mg-t-200px {
  margin-top: 200px;
}

.mg-t-140px {
  margin-top: 140px;
}

.font-sz-47px {
  font-size: 47px;
}


.text-area{
  width: 1016px;
  gap: 35px;
}

.text-paragraph{
  width: 1016px;
  gap: 10px;
}

.text{
  white-space: break-spaces;
  text-align: justify;
}

.font-Inter-400{
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0;
}

.text-color-000000{
  color: black;
}