<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/summary.css">
    <link rel="stylesheet" href="/styles/addtask.css">
    <link rel="stylesheet" href="/styles/assets.css">
    <link rel="stylesheet" href="/styles/contacts.css">
    <link rel="stylesheet" href="/styles/colors.css">
    <link rel="stylesheet" href="/styles/desktop_template.css">
    <link rel="stylesheet" href="/styles/board.css">
    <link rel="icon" href="/assets/img/faviconLogo.svg">
    <script src="/scripts/desktop_template.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="/scripts/contacts.js"></script>
</head>
<body onload="init()">
<div class="page">
    <header> 
        <div class="header-container">
            <div>Kanban Project Management Tool</div> 
            <div class="header-user">
                <img class="help-icon" src="/assets/icons/header_help_icon.svg" alt="">
                <div class="profile-ellipse">
                    <img src="/assets/icons/header_profile_ellipse.svg" alt="">
                    <span class="text-center">SM</span>
                </div>
            </div>
        </div>
    </header>

<aside>   
        <div class="join-logo">
            <img src="/assets/icons/join_icon.svg" alt="join-logo">
        </div>
        <nav>
            <a href="#summary"  onclick="loadContent('/assets/html/summary.html')"><img src="/assets/icons/summary_icon.svg" alt="#"><span>Summary</span></a>
            <a href="#add_task" onclick="loadContent('/assets/html/add_task.html')"><img src="/assets/icons/add_task_icon.svg" alt="#"><span>Add Task</span></a>
            <a href="#board"    onclick="loadContent('/assets/html/board.html')"><img src="/assets/icons/board_icon.svg" alt="#"><span>Board</span></a>
            <a href="#contacts" onclick="loadContent('/assets/html/contacts.html')"><img src="/assets/icons/contacts_icon.svg" alt="#"><span>Contacts</span></a>
        </nav>
        <div class="policy-legal">
            <a href="#privacy"  onclick="loadContent('/assets/html/privacy_policy.html')"><span>Privacy Policy</span></a>
            <a href="#legal"    onclick="loadContent('/assets/html/legal_notice.html')"><span>Legal notice</span></a>
        </div>
</aside>
     
    <main w3-include-html="/assets/html/summary.html"></main>



</body>
</html>

