<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<div class="page">

    <header> 
        <div class="header-container">
            <div>Kanban Project Management Tool</div> 
            <div>Blocker: Frame 42</div>
        </div>
    </header>


<!--Sebastian: navbar styling anpassen -->


<aside>   
    <nav>
        <div class="join-logo">
            <img src="/assets/icons/join_icon.svg" alt="join-logo">
        </div>
        <menu>
            <a href="/assets/html/summary.html"><img src="/assets/icons/summary_icon.svg" alt="#"><span>Summary</span></a>
            <a href="/assets/html/add_task.html"><img src="/assets/icons/add_task_icon.svg" alt="#"><span>Add Task</span></a>
            <a href="/assets/html/board.html"><img src="/assets/icons/board_icon.svg" alt="#"><span>Board</span></a>
            <a href="/assets/html/contacts.html"><img src="/assets/icons/contacts_icon.svg" alt="#"><span>Contacts</span></a>
        </menu>
        <div class="policy-legal">
            <a href="/assets/html/privacy_policy.html"></a><span>Privacy Policy</span></a>
            <a href="/assets/html/legal_notice.html"></a><span>Legal notice</span></a>
        </div>
    </nav>
    <main></main>
</aside>
        
</body>
</html>

