.board-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 76px;
  padding-bottom: 40px;
}

.board-search-add-task-wrap {
  display: flex;
  gap: 32px;
}

.search-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #a8a8a8a8;
  gap: 10px;
  background-color: white;
  padding: 8px 16px;
}

.search-input {
  border: none;
  border-radius: 10px;
  color: #d1d1d1d1;
  font-weight: 400;
  font-size: 18px;
}

.search-input:focus {
  outline: none;
}

.search-icon {
  width: 18px;
  height: 18px;
}

.search-icon-wrap {
  display: flex;
  gap: 16px;
}

.board-vline {
  border-left: 1px solid #d1d1d1;
  height: 31px;
}

.board-headline-text {
  font-size: 61px;
  font-weight: 700;
}

.board-col-wrap {
  display: flex;
  padding: 0 64px;
  gap: 26px;
}

.col-title-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.col-title {
  font-size: 20px;
  font-weight: 700;
  color: #42526e;
}

.add-btn {
  height: 24px;
  width: 24px;
  border-radius: 8px;
  border: 2px solid #2a3647;
}

.col-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 246px;
}

.add-task-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: #2a3647;
}

.add-task-btn-text {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.add-task-btn:hover {
  background-color: #354355;
  cursor: pointer;
}

.add-taks-btn-icon {
  width: 19px;
  height: 19px;
}

.board-distribution {
  width: 1028px;
  height: 100%;
  padding: 0 64px;
  display: flex;
  gap: 26px;
}

.board-col {
  height: 100%;
  width: 252px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
}

.no-task-feedback {
  width: 252px;
  height: 48px;
  border-radius: 10px;
  display: flex;
  border-width: 1px;
  border-style: dashed;
  border-color: #a8a8a8;
  gap: 10px;
  background-color: #e7e7e7;
  box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.16);
  color: #a8a8a8;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  font-family: OpenSans;
}

.task-card-wrap {
  width: 220px;
  border-radius: 24px;
  padding: 16px;
  gap: 10px;
  color: #ffffff;
  box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.08);
}

.task-card {
  gap: 24px;
}

.task-category {
  padding: 4px 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #ffffff;
}

.task-description-wrap {
  border-radius: 10px;
  gap: 8px;
  flex-direction: column;
}

.task-headline {
  line-height: 120%;
  letter-spacing: 0;
  color: #2a3647;
}

.task-description {
  height: 38px;
  line-height: 120%;
  letter-spacing: 0;
  color: #a8a8a8;
}

.progress-bar-wrap {
  gap: 10px;
}

.progress-bar {
  width: 128px;
  height: 8px;
  border-radius: 8px;
  background-color: #f4f4f4;
}

.progress-bar-status {
  border-radius: 16px;
  height: 8px;
  background-color: #4589ff;
}

.task-card-contact-badge {
  width: 32px;
  height: 32px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.task-card-subtasks {
  line-height: 120%;
  letter-spacing: 0;
  color: black;
  white-space: nowrap;
}

.task-contacts-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 45px;
  gap: 10px;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0;
  border: 1px;
  border-color: #ffffff;
  border-style: solid;
}

.task-contacts-icon + .task-contacts-icon {
  margin-left: -8px;
}

.task-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-overlay-content {
  background: white;
  width: 60%;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 16px;
  padding: 32px;
  position: relative;
}

.task-overlay.hidden {
  display: none;
}

.overlay-close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
