.contacts-list-wrap {
  width: 456px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 32px 24px;
  height: calc(100vh - 96px);
  overflow-y: scroll;
  scrollbar-width: 24px;
  box-shadow: 4px 0 6px 0 rgba(0, 0, 0, 0.08);
}

.add-new-contact-btn {
  background-color: #2a3647;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
  width: 352px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.add-new-contact-btn:hover {
  background-color: #354355;
  cursor: pointer;
}

.add-new-contact-text {
  color: white;
  font-size: 21px;
  font-weight: 700;
}

.add-new-contact-img {
  width: 32px;
  height: 32px;
}

.bookmark-wrap {
  width: 352px;
  height: 24px;
  padding: 17px 0;
  display: flex;
  align-items: center;
}

.bookmark-letter {
  font-size: 20px;
  font-weight: 400;
  padding: 0 36px;
}

.bookmark-separator {
  width: 352px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  margin: 8px 0;
}

.contacts-list {
  padding-top: 12px;
}

.contact-name-wrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-name {
  font-size: 20px;
  font-weight: 400;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.profile-badge {
  height: 42px;
  min-width: 42px;
  border-radius: 45px;
  color: white;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
}

.contact-list-item-wrap {
  display: flex;
  gap: 35px;
  padding: 15px 24px;
  border-radius: 10px;
}

.contact-list-item-wrap:hover {
  cursor: pointer;
  background-color: #f6f7f8;
  color: black;
}

.focus {
  background-color: #2a3647;
  color: white;
}

.bg-dimmed {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  visibility: hidden;
  transition: background-color 300ms linear, visibility 300ms linear;
}

.bg-dimmed.dim-active {
  background-color: rgba(0, 0, 0, 0.25);
  visibility: visible;
}

.contact-details-animate-in {
  animation: slideInFromRight 0.4s linear;
}

@media (max-width: 1260px) {
  .contacts-list-wrap {
    width: 100vw;
    height: calc(100vh - 96px);
    padding: 0 24px;
  }

  .contacts-list {
    width: 100%;
  }

  .bookmark-separator {
    width: 100%;
  }

  .add-new-contact-btn {
    display: none;
  }
}

@media (max-width: 820px) {
  .contacts-list-wrap {
    height: calc(100vh - 160px);
  }
}

@media (max-width: 440px) {
  .bookmark-wrap {
    width: 100%;
  }
}
