.contacts-details-headline-title {
  font-size: 61px;
  font-weight: 700;
}

.contacts-details-headline-subtitle {
  font-size: 27px;
  font-weight: 400;
}

.vline {
  border-left: 3px solid #29abe2;
  height: 59px;
}

.contacts-details-headline {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-grow: 1;
}

.contacts-details-wrap {
  padding-top: 96px;
  padding-left: 62px;
}

.contact-details-name-icon {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  color: white;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 47px;
  font-weight: 500;
}

.contact-details-icon-edit-name-wrap {
  display: flex;
  align-items: center;
  gap: 54px;
  padding-top: 32px;
}

.contact-details-name {
  font-size: 47px;
  font-weight: 500;
}

.contacts-details {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.contact-details-name-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contract-details-edit-delete-wrap {
  display: flex;
  gap: 24px;
}

.contact-details-edit-contact {
  display: flex;
  gap: 8px;
}

.edit-contact-icon {
  width: 30px;
  height: 19px;
}

.edit-contact-icon:hover {
  cursor: pointer;
}

.edit-contact-text {
  font-size: 16px;
  font-weight: 400;
}

.contact-information-text {
  font-size: 20px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.contact-details-email-phone-wrap {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.contact-details-email-wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-details-category {
  font-size: 16px;
  font-weight: 700;
}

.contact-email {
  font-size: 16px;
  font-weight: 400;
  color: #007cee;
}

.contact-details-phone {
  font-size: 16px;
  font-weight: 400;
}

.contacts-list-wrap {
  width: 456px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 32px 24px;
  height: calc(100vh - 160px);
  overflow-y: scroll;
  scrollbar-width: 24px;
  box-shadow: 4px 0 6px 0 rgba(0, 0, 0, 0.08);
}

.add-new-contact-btn {
  background-color: #2a3647;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
  width: 352px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.add-new-contact-btn:hover {
  background-color: #354355;
  cursor: pointer;
}

.add-new-contact-text {
  color: white;
  font-size: 21px;
  font-weight: 700;
}

.add-new-contact-img {
  width: 32px;
  height: 32px;
}

.bookmark-wrap {
  width: 352px;
  height: 24px;
  padding: 17px 0;
  display: flex;
  align-items: center;
}

.bookmark-letter {
  font-size: 20px;
  font-weight: 400;
  padding: 0 36px;
}

.bookmark-separator {
  width: 352px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  margin: 8px 0;
}

.contacts-list {
  padding-top: 12px;
}

.contact-name-wrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-name {
  font-size: 20px;
  font-weight: 400;
}

.profile-badge {
  height: 42px;
  width: 42px;
  border-radius: 45px;
  color: white;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
}

.contact-list-item-wrap {
  display: flex;
  gap: 35px;
  padding: 15px 24px;
  border-radius: 10px;
}

.contact-list-item-wrap:hover {
  cursor: pointer;
}

.focus {
  background-color: #2a3647;
  color: white;
}
