.contacts-details-headline-title {
  font-size: 61px;
  font-weight: 700;
}

.contacts-details-headline-subtitle {
  font-size: 27px;
  font-weight: 400;
}

.vline {
  border: 3px solid #29abe2;
  height: 59px;
}

.contacts-details-headline {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-grow: 1;
}

.contacts-details-wrap {
  padding-top: 96px;
  padding-left: 62px;
  padding-right: 24px;
}

.contact-details-name-icon {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  color: white;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 47px;
  font-weight: 500;
}

.contact-details-icon-edit-name-wrap {
  display: flex;
  align-items: center;
  gap: 54px;
  padding-top: 32px;
}

.contact-details-name {
  font-size: 47px;
  font-weight: 500;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 21px;
  transform: translateX(200%);
  transition: transform 250ms linear;
}

.contact-details-show {
  transform: translateX(0);
}

.contact-details-name-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contract-details-edit-delete-wrap {
  display: flex;
  gap: 24px;
}

.contact-details-edit-contact {
  display: flex;
  gap: 8px;
  background-color: unset;
}

.contact-details-edit-contact:hover {
  color: #29abe2;
  cursor: pointer;
}

.contact-details-edit-contact:hover .edit-contact-icon {
  content: url("/assets/icons/edit-blue.svg");
  cursor: pointer;
}

.contact-details-delete-contact {
  display: flex;
  gap: 8px;
}

.contact-details-delete-contact:hover {
  color: #29abe2;
  font-weight: 700;
  cursor: pointer;
}

.contact-details-delete-contact:hover .delete-contact-icon {
  content: url("/assets/icons/delete-blue.svg");
  cursor: pointer;
}

.edit-contact-icon {
  width: 24px;
  height: 19px;
}

.edit-contact-text {
  font-size: 16px;
  font-weight: 400;
}

.contact-details-edit-contact:hover > span {
  font-weight: 700;
}

.contact-details-delete-contact:hover > span {
  font-weight: 700;
}

.contact-information-text {
  font-size: 20px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.contact-details-email-phone-wrap {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.contact-details-email-wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-details-category {
  font-size: 16px;
  font-weight: 700;
}

.contact-email {
  font-size: 16px;
  font-weight: 400;
  color: #007cee;
  width: fit-content;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.contact-details-phone {
  font-size: 16px;
  font-weight: 400;
  width: fit-content;
}

@media (max-width: 1260px) {
  .contacts-details-wrap {
    display: none;
  }

  .vline {
    width: 90px;
    height: 3px;
  }

  .contacts-details-headline {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .contact-details-headline-mobile-order {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 16px;
  }

  .contract-details-edit-delete-wrap {
    display: none;
  }
}

@media (max-width: 820px) {
  .contact-details-name {
    font-size: 36px;
  }

  .contact-details-name-icon {
    font-size: 27px;
    height: 80px;
    width: 80px;
  }

  .contact-details-icon-edit-name-wrap {
    gap: 20px;
  }

  .contacts-details-headline-title {
    font-size: 47px;
  }

  .contacts-details-headline-subtitle {
    font-size: 20px;
  }
}
