body{
  overflow: hidden;
}

.background-fade {
  height: 100%;
  width: 100%;
  background-color: #f6f7f8;
  position: absolute;
  animation: backgroundFade 2s ease-in-out;
}

@keyframes backgroundFade {
  0% {
    background-color: #f6f7f8;
  }
}

.join-logo-index {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%) translateY(-50%);
  animation: easein 2s forwards;
  z-index: 2;
}

@keyframes easein {
  100% {
    top: 80px;
    left: 77px;
  }
}

.login-container {
  width: 652px;
  height: 449px;
  border-radius: 30px;
  padding: 48px 115px 48px 115px;
  gap: 32px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: hide 2s forwards;
  z-index: -1;
}
@keyframes hide {
  0% {
    opacity: 0;
  }
  25% {
    z-index: 0;
  }
  100% {
    z-index: 0;
  }
}

.signup-container {
  width: 279px;
  height: 49px;
  position: sticky;
  top: 67px;
  left: 1439px;
  gap: 35px;
  animation: hide 2s forwards;
  align-items: center;
}

.signup-container > span {
  width: 153px;
  height: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  color: #000000;
}

.signup-container > button {
  width: 91px;
  height: 49px;
  border-radius: 8px;

  gap: 10px;
  background-color: #2a3647;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
  color: #ffffff;
}

.signup-container > button:hover {
  cursor: pointer;
  background-color: #29abe2;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
}

.login-headline-container {
  width: 315px;
  height: 89px;
  flex-direction: column;
  align-items: center;
}

.login-headline {
  width: 315px;
  height: 73px;
  gap: 16px;
  font-size: 61px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
  align-items: center;
  color: #000000;
  justify-content: center;
}

.login-headline-underline {
  height: 150px;
  width: 0;
  border-width: 3px;
  border-style: solid;
  border-color: #29abe2;
  rotate: -90deg;
}

form {
  width: 422px;
  height: 152px;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input {
  width: inherit;
  border: 0;
  font-size: 20px;
}

input:hover{
  cursor: pointer;
}

.input-container {
  width: inherit;
  height: 48px;
  width: 422px;
  gap: 8px;
  flex-direction: column;
}

.input-container:nth-of-type(4) {
  height: 70px;
}

input:focus-visible {
  outline: none;
}



.input-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  height: 24px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #d1d1d1;
  padding: 12px 21px;
  gap: 10px;
  color: #ffffff;
}

.input-checkbox > span {
  color: #29abe2 !important;
  gap: 10px;
}

.input-checkbox {
  width: 231px;
  height: 24px;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  color: #a8a8a8;
  align-items: center;
  justify-content: space-evenly;
}

input[type="checkbox"] {
  background: url(/assets/icons/checkbox.svg) no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  padding: 0 0 0 0px;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="checkbox"]:hover {
  background-color: #edf2fa;
  border-radius: 43px;
}

input[type="checkbox"]:checked {
  background: url("/assets/icons/checkbox_checked.svg") no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border: unset;
  border-width: 2px;
  padding: 0 0 0 0px;
}

input[type="checkbox"]:checked:hover {
  background-color: #edf2fa;
  border-radius: 51px;
}

.login-btn-container {
  justify-content: space-between;
  align-items: center;
  width: 322px;
  height: 48px;
  gap: 35px;
}

.login-btn-container > button {
  height: 48px;
  border-radius: 8px;
  border-width: 1px;
  padding: 15px 24px;
  font-weight: 700;
  font-size: 21px;
  line-height: 120%;
  letter-spacing: 0;
}

.guest-login-btn {
  width: 177px;
  background-color: #ffffff;
  color: #2a3647;
  border-color: #2a3647;
  border-style: solid;
  border-width: 1px;
}

.guest-login-btn:hover {
  color: #29abe2;
  border-color: #29abe2;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
  border-width: 2px;
}

.guest-login-btn > span {
  width: 129px;
  height: 25px;
}

.login-btn {
  width: 110px;
  background-color: #2a3647;
  color: #ffffff;
}

.login-btn:hover , .signup-btn:hover {
  cursor: pointer;
  background-color: #29abe2;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
}

.login-btn > span {
  width: 62px;
  height: 25px;
}

.signup {
  height: 630px !important;
  width: 598px !important;
  padding: 48px 88px !important;
  justify-content: space-around !important;
  animation: none;
  z-index: 0;
  box-shadow: 0 0 14px 3px rgb(0, 0, 0, 0.04);
}

.join-logo-index-signup {
  position: absolute;
  top: 80px;
  left: 77px;
  transform: translate(-50%) translateY(-50%);
}

.form-signup {
  height: 326px;
  width: 422px;
}

.signup-btn {
  height: 55px;
  width: 126px;
  border-radius: 8px;
  padding: 15px 24px;
  gap: 10px;
  background-color: #2a3647;
  color: #ffffff;
}

.signup-btn > span {
  width: 78px;
  height: 25px;
  line-height: 120%;
  font-size: 21px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}

.arrow-left {
  position: absolute;
  top: 128px;
  left: 32px;
}



.validation{
  height: 16px;
  width: 364px;
  font-weight: 400;
  font-size: 13px;
  line-height: 120%;
  letter-spacing: 0;
  color: #FF8190;
}

.email {
  margin: -6px 0 ;
}

.error-border{
  border-color: #FF8190;
}

.error-border:focus-within{
  border-color: #FF001F
}

.pw-icon{
  height: 24px;
  width: 24px;
  background-image: url('/assets/icons/lock_icon.svg');
}

.input-content input:not(:placeholder-shown) ~ .pw-icon {
  background-image: url('/assets/icons/visibility_off.svg');
}

.pw-icon-on{
  height: 24px;
  width: 24px;
  background-image: url('/assets/icons/visibility_on.svg');
  background-size: cover;
}


.signup-message{
 background-color: #2a3647;
 width: 312px;
 height: 74px;
 border-radius: 20px;
 box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.15);
 animation: slide-up 1s forwards;
}

.signup-message-text{
  padding: 0 25px;
  height: 24px;
  width: 262px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  color: #ffffff;

background-color: rgb(56, 56, 56, 0.10);
}


@keyframes slide-up{
  from {    
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%) translateY(-50%);
}
  to{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%) translateY(-50%);
  }
}