body{
  overflow: hidden;
}

li > a:visited{
  color: #a8a8a8;
}

li > a:hover{
  color: #29abe2;
  font-weight: 700;
  font-style: bold;
}

.accept-policy:hover{
  text-decoration: underline;
  text-decoration-style: solid;
}

.login-button-wrap{
  flex-direction: column-reverse;
  gap: 16px;
}

li{
  min-width: 109px;
}

.background-fade {
  height: 100%;
  width: 100%;
  background-color: #f6f7f8;
  position: absolute;
  animation: backgroundFade 2s ease-in-out;
}

@keyframes backgroundFade {
  0% {
    background-color: #f6f7f8;
  }
}

.join-logo-index {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  animation: easein 2s forwards;
  z-index: 2;
}

@keyframes easein {
  100% {
    top: 80px;
    left: 77px;
    transform: translate(0, 0);
  }
}

.login-container {
  width: 100%;
  max-width: 652px;
  height: 449px;
  border-radius: 30px;
  padding: 48px 115px 48px 115px;
  gap: 32px;
  background-color: #ffffff;
  animation: hide 2s forwards;
  z-index: -1;
  transition: ease-in-out 0.5s 
}
@keyframes hide {
  0% {
    opacity: 0;
  }
  25% {
    z-index: 0;
  }
  100% {
    z-index: 0;
  }
}

.signup-container {
  width: 279px;
  height: 49px;
  position: sticky;
  top: 67px;
  left: 1439px;
  gap: 35px;
  animation: hide 2s forwards;
}

.signup-container > span {
  width: 153px;
  height: 24px;
  color: #000000;
}

.signup-container > button {
  width: 91px;
  height: 49px;
  border-radius: 8px;
  gap: 10px;
  background-color: #2a3647;
}

.signup-container > button:hover {
  cursor: pointer;
  background-color: #29abe2;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
}

.login-headline-container {
  max-width: 315px;
  max-height: 89px;
  gap: 16px;
}

.login-headline {
  width: 315px;
  height: 73px;
  gap: 16px;
}

.login-headline-underline {
  width: 150px;
  border-width: 2px;
  border-style: solid;
}

form {
  max-width: 422px;
  height: 152px;
  gap: 20px;
}

input {
  width: 100%;
  border: 0;
  font-size: 20px;
}

input:hover{
  cursor: pointer;
}

.input-container {
  width: 100%;
  height: 48px;
  max-width: 422px;
  gap: 8px;
}

.input-container:nth-of-type(4) {
  height: 70px;
}

input:focus-visible {
  outline: none;
}

.input-content {
  max-width: 100%;
  height: 24px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #d1d1d1;
  padding: 12px 21px;
  gap: 10px;
  color: #ffffff;
}

.input-checkbox > span {
  gap: 10px;
}

.input-checkbox {
  width: 231px;
  height: 24px;
}

input[type="checkbox"] {
  background: url(/assets/icons/checkbox.svg) no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  padding: 0 0 0 0px;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="checkbox"]:hover {
  background-color: #edf2fa;
  border-radius: 43px;
}

input[type="checkbox"]:checked {
  background: url("/assets/icons/checkbox_checked.svg") no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border: unset;
  border-width: 2px;
  padding: 0 0 0 0px;
}

input[type="checkbox"]:checked:hover {
  background-color: #edf2fa;
  border-radius: 51px;
}

.login-btn-container {
  width: 322px;
  height: 48px;
  gap: 35px;
}

.login-btn-container > button {
  height: 48px;
  border-radius: 8px;
  border-width: 1px;
  padding: 15px 24px;
}

.guest-login-btn {
  width: 177px;
  background-color: #ffffff;
  border-color: #2a3647;
  border-style: solid;
  border-width: 1px;
}

.guest-login-btn:hover {
  color: #29abe2;
  border-color: #29abe2;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
  border-width: 2px;
}

.guest-login-btn > span {
  width: 129px;
  height: 25px;
}

.login-btn {
  width: 110px;
  background-color: #2a3647;
}

.login-btn:hover , .signup-btn:hover {
  cursor: pointer;
  background-color: #29abe2;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
}

.login-btn > span {
  width: 62px;
  height: 25px;
}

.signup {
  max-height: 630px;
  max-width: 598px;
  padding: 48px 88px;
  justify-content: space-around !important;
  animation: none;
  z-index: 0;
  box-shadow: 0 0 14px 3px rgb(0, 0, 0, 0.04);
}

.join-logo-index-signup {
  position: absolute;
  top: 80px;
  left: 77px;
  transform: translate(-50%) translateY(-50%);
}

.form-signup {
  height: 326px;
  max-width: 422px;
}

.signup-btn {
  height: 55px;
  width: 126px;
  border-radius: 8px;
  padding: 15px 24px;
  gap: 10px;
  background-color: #2a3647;
}

.signup-btn > span {
  width: 78px;
  height: 25px;
}

.forgot-password{
  background-color: unset;
  width: 160px;
  padding: 0;
}

.forgot-password:hover{
  font-weight: 500;
  text-decoration: underline;
  text-decoration-style: solid;
}


.arrow-left {
  position: absolute;
  top: 64px;
  left: 32px;
}


.validation{
  height: 16px;
  width: 364px;
}

.email {
  margin: -6px 0 ;
}

.error-border{
  border-color: #FF8190;
}

.error-border:focus-within{
  border-color: #FF001F
}

.pw-icon{
  height: 24px;
  width: 24px;
  background-image: url('/assets/icons/lock_icon.svg');
}

.input-content input:not(:placeholder-shown) ~ .pw-icon {
  background-image: url('/assets/icons/visibility_off.svg');
}

.pw-icon-on{
  height: 24px;
  width: 24px;
  background-image: url('/assets/icons/visibility_on.svg');
  background-size: cover;
}


.signup-message{
 background-color: #2a3647;
 width: 312px;
 height: 74px;
 border-radius: 20px;
 box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.15);
 animation: slide-up 1s forwards;
}

.signup-message-text{
  padding: 0 25px;
  height: 24px;
  width: 262px;
  background-color: rgb(56, 56, 56, 0.10);
}


.policy-notice{
  height: 35px;
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50% , -50%);
  animation: hide 2s forwards;
}

.policy-notice-secondary{
  height: 35px;
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translate(-50% , -50%);
}


.policy-notice-list{
  list-style-type: none;
    display: flex;
    gap: 8px;
}

.site-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

@keyframes slide-up{
  from {    
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%) translateY(-50%);
}
  to{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%) translateY(-50%);
  }
}

@media  screen and (max-width: 992px) {
  .login-container{
    width: 322px;
  }
  
  .join-logo-index > img {
    height: 64px;
    width: 78px;
  }

    .join-logo-index-signup > img {
    height: 64px;
    width: 78px;
  }

  @keyframes easein {
  100% {
    top: 37px;
    left: 38px;
    transform: translate(0, 0);
  }
}
}

@media screen and ( max-width: 600px ) {

  .signup-container{
    position: unset;
  }

  .signup{
    max-height: unset;
    max-width: unset;
    padding: unset;
  }

  .login-container{
    width: 300px;
    height: 475px;
    padding: 32px 0;
  }

  form{
    width: 280px;
  }

  .login-btn-container{
    flex-direction: column;
  }

  .login-btn-container > button{
    width: 180px;
  }

  .login-headline{
    font-size: 47px;
  }

  .background-fade{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  }

  .site-container{
    height: 12%;
    flex-direction: column;
    padding-bottom: 32px;
  }

  .policy-notice{
    position: unset;
    transform: unset;
  }
}