body{
    margin: 0;
    padding: 0;
    border: unset;
    background-color: #F6F7F8;
    font-size: 20px;
    font-weight: 400;
}

.page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header{
    display: flex;
    background-color: #FFFFFF;
    max-width: 1920px;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.1);
}

.header-container{
    padding: 20px 40px 20px 348px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


aside{
    background-color: #2A3647;
    display: flex;
    position: fixed;
    width: 232px;
    height: 100vh;
    padding: 64px 0;
    top: 0;
    box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.1);
    z-index: 30;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.join-logo{
    height: 229px;
    width: 232px;
}

.join-logo > img {
    height: 121.97px;
    width: 100.03px;
    top: 64px;
    left: 65.98px;
    position: absolute;
}

main{
    background-color: #F6F7F8;
    display: flex;
    justify-content: center;
    left: 232px;
    margin-left: 232px;
    padding-top: 8px;
    height: calc(100vh - 104px);
}




menu{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 232px;
    gap: 15px;
    padding: 0;
}

menu > a , .policy-legal > a{
    display: flex;
    height: 46px;
    background-color: #2A3647;
    color: #FFFFFF;
    padding: 8px 56px;
    gap: 8px;
    text-decoration: none;
    align-items: center;
}

menu > span{
    height: 19px;
    width: 72px;
}

a:hover{
    cursor: pointer;
    background-color: #091931;
}

.policy-legal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 121px;
    height: 317px;
    padding: 243px 0 0 52px;
    gap: 4px;
}

.policy-legal > a {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 8px;
    gap: 8px;
}



.d-flex{
    display: flex;
}

.d-block{
    display: block;
}

.d-none{
    display: none;
}