body {
  background-color: #f6f7f8;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.summary {
  flex: 1;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-direction: column;
  padding-top: 110px;
  padding-left: 96px;
}

.summary-content {
  display: flex;
  gap: 40px;
  align-items: center;
}

.cards-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 560px;
}

.card-row {
  display: flex;
  gap: 28px;
  flex-wrap: wrap;
}

.card {
  background-color: #ffffff;
  border-radius: 22px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 24px;
  flex-shrink: 0;
}

.small-card {
  flex: 1;
  display: flex;
  align-items: center;
  min-height: 120px;
  justify-content: center;
  text-align: center;
}

.card-icon {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.card-text {
  display: flex;
  flex-direction: column;
}

.card-value {
  font-size: 64px;
  font-weight: 600;
  line-height: 1;
}

.card-title {
  font-size: 20px;
  color: #666;
}

.large-card {
  display: flex;
  min-height: 120px;

  text-align: center;
}

.urgent-left,
.urgent-right {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.urgent-left {
  justify-content: flex-start;
}

.urgent-right {
  justify-content: flex-start;
}

.divider-vertical {
  width: 2px;
  height: 100px;
  background-color: #e0e0e0;
  margin: 0 20px;
}

.card-icon-large {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.greeting {
/*   flex: 0 0 40%; */
  display: flex;
  justify-content: center;
  padding-left: 40px;
  align-self: center;
}

.greeting h2 {
  font-size: 48px;
  font-weight: 400;
  color: #333;
}

.greeting h1 {
  font-size: 64px;
  font-weight: 700;
  color: #00aaff;
  margin-top: 16px;
}

.urgent-right .card-value {
  font-size: 22px;
  font-weight: 700;
}

.metrics-header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.metrics-header h1 {
  font-size: 61px;
  font-weight: 600;
  color: #000;
  margin: 0;
}

.header-divider {
  height: 70px;
  width: 4px;
  background-color: #00aaff;
  margin: 0 16px;
}

.metrics-subtitle {
  font-size: 27px;
  color: #666;
  font-weight: 400;
}

@media screen and (max-width: 800px) {
  .summary {
    margin: 48px 16px;
    padding: 0;
    justify-content: unset;
  }

  .metrics-header {
    align-items: flex-start;
    flex-direction: column;
    margin: 16px 0 0 16px;
  }

  .header-divider {
    rotate: 90deg;
    margin: 0 32px ;
  }

  .summary-content{
    height: 384px;

  }

  .greeting {
    display: none;
    /* fade out after 2sec */
  }
}
